# Ensures that npm packages are only considered if they have been available
# for at least the specified number of days.
# Reduces the chances of supply-chain attacks
min-release-age=6

# Allow git dependencies from all sources
allow-git=all

# Allow install scripts for trusted build/native dependencies
allow-scripts[]=electron
allow-scripts[]=esbuild
allow-scripts[]=fsevents
allow-scripts[]=fs-xattr
allow-scripts[]=macos-alias
allow-scripts[]=electron-winstaller
